[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "tinyspline"]
	path = tinyspline
	url = https://github.com/msteinbeck/tinyspline.git
