# Creates FIFO socket for leco.service under specific uid's XDG_RUNTIME_DIR.
# Must be done separately for BindPath= sandboxing setup in leco.service to work.

[Unit]
Wants=user-runtime-dir@%i.service
After=user-runtime-dir@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-mkfifo -m666 /run/user/%i/leco.fifo
ExecStop=-rm -f /run/user/%i/leco.fifo
